$codeBackground = $codeBgColor
$codeColor = config('colors.white')
$codeHighlightBackground = rgba(0, 0, 0, 66%)
$codeVerticalPadding = config('padding.8')
// $codeHighlightBackground = linear-gradient(120deg, transparentify(#EE7752, $codeBgColor, 0.9), transparentify(#E73C7E, $codeBgColor, 0.9))

pre, code, kbd
    font-family config('fonts.mono')

pre, pre[class*="language-"]
    line-height 1.4 !important
    padding $codeVerticalPadding config('padding.8')
    background $codeBackground
    border-radius config('borderRadius.lg')
    overflow auto
    code
        color $codeColor
        padding 0
        background-color transparent
        border-radius 0
        font-size 16px

code, kbd
    padding config('padding.1') config('padding.2')
    border-radius config('borderRadius.default')
    font-size 0.85em
    margin 0

code
    color config('colors.grey-darker')
    background-color config('colors.grey-lighter')

kbd
    color config('colors.white')
    background-color config('colors.black')

div[class*="language-"]
    position relative
    background $codeBackground
    border-radius config('borderRadius.lg')
    font-family config('fonts.mono')
    .highlight-lines
        user-select none
        padding-top $codeVerticalPadding
        position absolute
        top 0
        left 0
        width 100%
        line-height 1.4
        .highlighted
            background $codeHighlightBackground
    pre, pre[class*="language-"]
        background transparent
        position relative
        z-index 1
    &::before
        position absolute
        z-index 3
        top 0.8em
        right 1em
        font-size 0.75rem
        color rgba(0, 0, 0, 0.4)

for lang in $codeLang
    div{'[class~="language-' + lang + '"]'}
        &:before
            content ('' + lang)

$langMap = ('javascript' 'js'),
           ('typescript' 'ts'),
           ('markup' 'html'),
           ('markdown' 'md'),
           ('json' 'json'),
           ('ruby' 'rb'),
           ('python' 'py'),
           ('bash' 'sh'),
           ('php' 'php')

for lang in $langMap
    div{'[class~="language-' + lang[0] + '"]'}
        &:before
            content ('' + lang[1])