$container
    width 100%
    max-width config('screens.md')
    margin-right auto
    margin-left auto
    padding-left config('padding.6')
    padding-right config('padding.6')
    @media sm
        padding-left config('padding.8')
        padding-right config('padding.8')
    @media lg
        padding-left 0
        padding-right 0

$break-out-of-container
    width 100vw
    position relative
    left 50%
    right 50%
    margin-left -50vw
    margin-right -50vw

.container
    @extends $container

.break-out-of-container
    @extends $break-out-of-container