.content
    @extends $flex-container

    // Typography.
    font-family config('fonts.content')
    font-size 18px
    @media md 
        font-size 21px

    // Remove title and magnify introduction.
    > h1:first-of-type
        display none
    > p:first-of-type
        font-size config('textSizes.xl')
        @media md 
            font-size config('textSizes.2xl')

    // Code breaks out of the container.
    div[class*="language-"]
        @extends $break-out-of-flex-container
        border-radius 0
        align-self stretch
        pre, pre[class*="language-"]
            @extends $container
    
    // Image breaks out of the container
    > p > img
        display block
        margin config('margin.6') auto
        max-width 100%
        @media lg
            max-width 900px
        @media xl
            max-width 1040px
    
    // Helpers to constraint image size
    @media sm
        for i in 1..10
            img[src$={'"#w' + (i * 10) + '"'}]
                width i * 10% !important