$container
    width 100%
    max-width theme('screens.md')
    margin-right auto
    margin-left auto
    padding-left theme('padding.8')
    padding-right theme('padding.8')
    @media lg
        padding-left 0
        padding-right 0

$container-lg
    @extends $container
    @media lg
        max-width theme('width.bleeding-out-of-container-sm')
    @media xl
        max-width theme('width.bleeding-out-of-container')

$break-out-of-container
    width 100vw
    position relative
    left 50%
    right 50%
    margin-left -50vw
    margin-right -50vw

$flex-container
    @extends $container
    display flex
    flex-direction column
    align-items center
    > *
        min-width 100%

$break-out-of-flex-container
    @extends $break-out-of-container
    align-self stretch

$bleeding-out-of-container
    display block
    margin theme('margin.6') auto
    width 100%
    @media lg
        width theme('width.bleeding-out-of-container-sm')
    @media xl
        width theme('width.bleeding-out-of-container')

.container
    @extends $container

.container-lg
    @extends $container-lg

.break-out-of-container
    @extends $break-out-of-container

.bleeding-out-of-container
    @extends $bleeding-out-of-container
