@require 'fonts'

@tailwind base;
@tailwind components;
@tailwind utilities;

@require '~prismjs/themes/prism-okaidia.css'
@require 'palette'
@require 'typography'
@require 'links'
@require 'tables'
@require 'code'
@require 'ribbons'

@require 'container'
@require 'content'
