table
    margin theme('margin.12') 0
    width 100%
    border-collapse collapse
    overflow-x: auto

tr:nth-child(2n)
    background-color theme('colors.gray.100')

th, td
    border 1px solid theme('colors.gray.400')
    padding theme('padding.2') theme('padding.6')

thead
    th, td
        border none
        padding-bottom 0
