table
    margin config('margin.12') 0
    width 100%
    border-collapse collapse
    overflow-x: auto

tr:nth-child(2n)
    background-color config('colors.grey-lightest')

th, td
    border 1px solid config('colors.grey-light')
    padding config('padding.2') config('padding.6')

thead 
    th, td
        border none
        padding-bottom 0