$headings = 'h1, h2, h3, h4, h5, h6'
$blocks = 'p, ul, ol, blockquote'

body
    color config('colors.grey-darkest')
    font-family config('fonts.sans')
    line-height: config('leading.normal')

{$headings}
    line-height config('leading.tight')
    font-family config('fonts.sans')
    color config('colors.black')
    & +
        {$blocks}
            margin-top 0

h1
    font-family config('fonts.serif')

h2
    font-size config('textSizes.3xl')
    font-family config('fonts.serif')
    font-weight config('fontWeights.semibold')
    margin-top config('margin.8')
    margin-bottom config('margin.6')
    border-bottom 1px solid config('colors.grey-light')
    padding-bottom .3rem
    @media md 
        font-size config('textSizes.4xl')

h3
    font-size config('textSizes.3xl')
    margin-top config('margin.8')
    margin-bottom config('margin.2')
    @media md 
        margin-bottom config('margin.3')
        font-size config('textSizes.4xl')

h4
    font-size config('textSizes.xl')
    @media md 
        font-size config('textSizes.2xl')

h4, h5, h6
    margin-top config('margin.4')
    margin-bottom config('margin.3')

li
    margin-bottom config('margin.3')

{$blocks}
    margin-bottom config('margin.8')

blockquote
    font-size .9em
    color config('colors.grey-dark')
    border-left .5rem solid config('colors.grey-light')
    margin config('padding.6') 0
    padding config('padding.2') config('padding.6')
    > *
        &:first-child
            margin-top 0
        &:last-child
            margin-bottom 0

em, strong
    color config('colors.black')

small
    color config('colors.grey-dark')